
# Entorno virtual
venv/
.env

# Archivos temporales
*.pyc
__pycache__/

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Modelos entrenados
models/

# Informes generados
reports/

# Archivos de logs
*.log
